/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #9f4362;
}
::selection{
  color: #fff;
  background: #675AFE;
}
.wrapper{
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 20px 50px;
}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form{
  margin: 40px 0 20px 0;
}
form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #e10750;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}
form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #d80b4fc2;
  transition: 0.3s ease;
}
form button:hover{
  background: #e10750;
  border-radius: 2px solid #e10750;
  border: #e10750;
}
    







.back-to-website {
  font-family: sans-serif;
  position: fixed;
  bottom: 20px; /* تعديل الارتفاع عند الحاجة */
  right: 20px; /* تعديل الانحراف عند الحاجة */
  background-color: #000000; /* لون الخلفية */
  color: #ffffff; /* لون النص */
  padding: 10px 20px; /* هنا يمكنك ضبط الحشوات بما يتناسب مع التصميم */
  border-radius: 5px; /* لتقويس حواف الزر */
  text-decoration: none; /* إزالة التزيين الافتراضي للرابط */
  transition: background-color 0.3s; /* تأثير انتقالي للتغييرات في الخلفية */
}

.back-to-website:hover {
  background-color: #e91e63; /* تغيير لون الخلفية عند تحويم الماوس */
  border-color: #e91e63;
  box-shadow: 0 0 10px #00000074;
}